/* Mobile Screens (max-width: 480px) */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .logo-img {
        margin: 0;
    }

    header .header-text {
        margin: 10px 0;
    }

    /* Navigation Styles */
    nav.navigation {
        flex-direction: column;
        padding: 10px 0;
    }

    nav.navigation.active {
        margin-bottom: 8rem;
    }

    #view-toggle {
        flex-direction: column;
    }

    #view-toggle button {
        margin: 10px 0;
    }

    #info-sections {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }

    main.form {
        margin: -10rem 0 0 0;
    }
}